.sort-page {
  padding: 20px;
  background-color: #f0f2f5;
  min-height: 100vh;
}

.sort-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.sort-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* три колонки одинаковой ширины */
  gap: 50px 50px; /* расстояние между карточками */
  padding: 80px;
 
}
